{% extends '@App/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/app/css/startseite/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Startseite{% endblock %}

{% block sidecontent %}
        <div align="center">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% image '@AppBundle/Resources/public/images/benutzer.jpg' %}
                    <img src="{{ asset_url }}" alt="Benutzer" class="startseite"/>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="{{ path('benutzer') }}" class="btn btn-default" role="button">Benutzer</a></p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% image '@AppBundle/Resources/public/images/teilnehmer.jpg' %}
                    <img src="{{ asset_url }}" alt="Teilnehmer" class="startseite"/>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="{{ path('mannschaft') }}" class="btn btn-default" role="button">Teilnehmer</a></p>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% image '@AppBundle/Resources/public/images/spielplan.jpg' %}
                    <img src="{{ asset_url }}" alt="Spielplan" class="startseite"/>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="#" class="btn btn-default" role="button">Spielplan</a></p>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% image '@AppBundle/Resources/public/images/turnier.jpg' %}
                    <img src="{{ asset_url }}" alt="Turnier" class="startseite"/>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="#" class="btn btn-default" role="button">Turnier</a></p>
                    </div>
                </div>
            </div>{% endif %}

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% image '@AppBundle/Resources/public/images/live_screen.jpg' %}
                    <img src="{{ asset_url }}" alt="Livescreen" class="startseite"/>
                    {% endimage %}
                    <div class="caption">
                        <p><a href="#" class="btn btn-default" role="button">Livescreen</a></p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}