<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Turnierverwaltung{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
            'bundles/base/css/*'
            'bundles/app/css/04_base.custom.css'
                    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts
            'bundles/base/js/*'
        %}
                <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>

<body>




    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid1">
                <div class="navbar-header">
                    <span class="sr-only">Navigation ein-/ausblenden</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                    <!-- Menuepunkt Startseite -->
                    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>     Startseite </a>
                </div>

                <!-- Topmenue -->
                <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="#">Turnier</a></li>
                        {% endif %}

                        {% if (is_granted('ROLE_USER_VIEW') or is_granted('ROLE_GROUP_VIEW'))  %}
                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle topmenu-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Benutzer<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if (is_granted('ROLE_USER_VIEW')) %}
                                <li><a href="{{ path('benutzerList') }}">Benutzer</a></li>
                                {% endif %}
                                {% if (is_granted('ROLE_GROUP_VIEW')) %}
                                <li><a href="{{ path('fos_user_group_list') }}">Benutzergruppen</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if (is_granted('ROLE_VEREIN_VIEW') or is_granted('ROLE_MANNSCHAFT_VIEW') or is_granted('ROLE_SR_VIEW'))  %}
                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle topmenu-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teilnehmer<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if (is_granted('ROLE_VEREIN_VIEW')) %}
                                <li><a href="{{ path('vereinList') }}">Verein</a></li>
                                {% endif %}
                                {% if (is_granted('ROLE_MANNSCHAFT_VIEW')) %}
                                <li><a href="{{ path('mannschaftList') }}">Mannschaft</a></li>
                                {% endif %}
                                {% if (is_granted('ROLE_SR_VIEW')) %}
                                <li><a href="{{ path('schiedsrichterList') }}">Schiedsrichter</a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle topmenu-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Spielplan<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Spielplanübersicht</a></li>
                                <li><a href="{{ path('spAnmeldungList') }}">Spielplanerstellung</a></li>
                                <li><a href="#">Ergebniserfassung</a></li>
                                <li><a href="#">Schiedsrichtereinteilung</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Drucken</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"> <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Urkunden</a></li>
                            </ul>
                        </li>
                        <li><a href="/">Live-Screen</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" >
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle topmenu-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>   {{ app.user.username }}   <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width:100%;">
                                <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>   Einstellungen </a></li>
                                <li><a href="#">  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>   Hilfe </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>   Abmelden </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block sidecontent %}{% endblock %}
</body>
</html>