{% extends '@App/base_left_menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'bundles/teilnehmer/css/12_datatable.bootstrap.min.css'
    'bundles/teilnehmer/css/06_datatable.custom.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/teilnehmer/js/10_query.dataTables.min.js'
    'bundles/teilnehmer/js/11_dataTables.bootstrap.min.js'
    'bundles/teilnehmer/js/12_dataTables.responsive.min.js'
    'bundles/teilnehmer/js/13_responsive.bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Gruppen{% endblock %}

{% block heading %}Gruppenübersicht{% endblock %}

{% block leftMenu %}
    {% if (is_granted('ROLE_USER_VIEW')) %}
        <li>
            <a href="{{ path('benutzerList') }}"><p class="fa fa-Verein fa-fw">Benutzer</p> </a>
        </li>
    {% endif %}
    {% if (is_granted('ROLE_GROUP_VIEW')) %}
        <li>
            <a href="{{ path('fos_user_group_list') }}"><p class="fa fa-bar-Mannschaft-o fa-fw">Benutzergruppen</p> </a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <form method="post" action="{{ path('gruppeDelete') }}">
    <div class="row">
        <div class="col-lg-12" style="color:rgb(210,7,2); min-height: 50px; margin-top:10px; ">

            {% if (is_granted('ROLE_GROUP_CREATE')) %}
            <a href="{{ path('fos_user_group_new') }}"class="btn btn-default btn-lg btn-sm" style="color: rgba(13, 135, 13, 1);" type="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:rgba(13, 135, 13, 1);"></span><b> Neu</b></a>
            {% endif %}

            {% if (is_granted('ROLE_GROUP_VIEW') and is_granted('ROLE_GROUP_EDIT')) %}
            <button class="btn btn-default btn-lg btn-sm" style="color: rgba(19, 84, 174, 1);" type="button" id="edit">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:  rgba(19, 84, 174, 1);"></span><b> Bearbeiten</b></button>
            {% endif %}

            {% if (is_granted('ROLE_GROUP_DELETE')) %}
            <button class="btn btn-default btn-lg btn-sm" style="color: rgba(66, 66, 66, 1);" type="submit">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color: rgba(66, 66, 66, 1); "></span><b> Löschen</b></button>
            {% endif %}
        </div>
    </div>

    <table class="table table-striped display select " cellspacing="0" width="100%" id="tableGruppe">
        <thead>
        <tr>
            <th class="Checkbox"><input type="checkbox" name="select_all" value="1" id="example_select_all"></th>
            <th>Gruppenname</th>
        </tr>
        </thead>
        <tbody>
        {% for gruppe in gruppen %}
            <tr id="gruppe_{{ gruppe.Id }}">
                <td class="Checkbox"><input type="checkbox" name="select_all[]" value="{{ gruppe.Id }}" id="{{ gruppe.Id }}"></td>
                <td>{{ gruppe.Name }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </form>
    <script>
        var table = $('#tableGruppe').DataTable({
            responsive: true,
            'columnDefs': [{
                'targets': 0,
                'searchable':false,
                'orderable':false,
            }],
            'order': [1, 'dsc']
        });


        // Handle click on "Select all" control
        $('#example_select_all').on('click', function(){
            // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#tableGruppe tbody').on('change', 'input[type="checkbox"]', function(){
            // If checkbox is not checked
            if(!this.checked){
                var el = $('#example_select_all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        // Handle form submission event
        $('#frm-example').on('submit', function(e){
            var form = this;

            // Iterate over all checkboxes in the table
            table.$('input[type="checkbox"]').each(function(){
                // If checkbox doesn't exist in DOM
                if(!$.contains(document, this)){
                    // If checkbox is checked
                    if(this.checked){
                        // Create a hidden element
                        $(form).append(
                                $('<input>')
                                        .attr('type', 'hidden')
                                        .attr('name', this.name)
                                        .val(this.value)
                        );
                    }
                }
            });
        });

        $('#edit').on('click', function(){

            var checkboxes = table.$("input[type='checkbox']:checked");
            var checkboxId = $(checkboxes).attr('id');

            if(checkboxes.length != 0){
                window.location = "/gruppe/"+checkboxId+"/edit";
            }
        });
    </script>
{% endblock %}
