{% extends '@App/base_left_menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}Onlineanmeldung{% endblock %}

{% block heading %}Online - Verein bearbeiten{% endblock %}

{% block leftMenu %}
    {% if (is_granted('ROLE_MANNSCHAFT_VIEW')) %}
        <li>
            <a href="{{ path('vereinList') }}"><p class="fa fa-Verein fa-fw">Übersicht</p> </a>
        </li>
    {% endif %}
    {% if (is_granted('ROLE_MANNSCHAFT_VIEW')) %}
        <li>
            <a href="{{ path('onlineMannschaftList') }}"><p class="fa fa-bar-Mannschaft-o fa-fw">Mannschaft</p> </a>
        </li>
    {% endif %}
    {% if (is_granted('ROLE_VEREIN_VIEW')) %}
        <li>
            <a href="{{ path('onlineVereinList') }}"><p class="fa fa-bar-Mannschaft-o fa-fw">Verein</p> </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% form_theme form '@App/Form/fields.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="col-lg-12" style="color:rgb(210,7,2); min-height: 50px; margin-top:10px; ">
            <!-- butttons -->
            {{ form_widget(form.save) }}

            {{ form_widget(form.sichernUndSchliessen) }}

            <a href="{{ path('vereinList') }}" class="btn btn-default btn-lg btn-sm" type="button" style="color:red;">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red;"></span><b> Abbrechen</b></a>
        </div>
    </div>
    {% if errors is defined %}
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <strong>{{ error.message }}</strong>
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-group">
    <label for="inputName" class="col-md-1 control-label">Vereinsname</label>
    <div class="col-md-2">
        {{ form_widget(form.name) }}
    </div>
    {{ form_end(form) }}
{% endblock %}