{% extends '@App/base_left_menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/teilnehmer/css/07_bootstrap-select.min.css'
        'bundles/teilnehmer/css/08_bootstrap-datetimepicker.css'
        'bundles/teilnehmer/css/09_anmeldung.custom.css'
        'bundles/teilnehmer/css/10_responsive.bootstrap.min.css'
        'bundles/teilnehmer/css/11_jquery.dataTables.min.css'
    filter='cssrewrite' output='css/compiled/app.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        {% javascripts
            'bundles/teilnehmer/js/10_query.dataTables.min.js'
            'bundles/teilnehmer/js/11_dataTables.bootstrap.min.js'
            'bundles/teilnehmer/js/12_dataTables.responsive.min.js'
            'bundles/teilnehmer/js/13_responsive.bootstrap.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

{% block title %}Anmeldungen{% endblock %}

{% block heading %}Anmeldungsübersicht{% endblock %}

{% block leftMenu %}
    <li>
        <a href="{{ path('vereinList') }}"><p class="fa fa-Verein fa-fw">Verein</p> </a>
    </li>
    <li>
        <a href="{{ path('mannschaftList') }}"><p class="fa fa-bar-Mannschaft-o fa-fw">Mannschaft</p> </a>
    </li>
    <li>
        <a href="{{ path('schiedsrichterList') }}"><p class="fa fa-bar-Schiedsrichter-o fa-fw">Schiedsrichter</p></a>

    </li>
{% endblock %}

{% block content %}

    {% for altersklasse in altersklassen %}
        {% if altersklasse.MannschaftWrapper1 %}
        <div class="input-group-btn-vertical">
            <button class="btn btn-default center-block" type="button" data-toggle="collapse" data-target="#groupDataTables_{{ altersklasse.Id }}"><i class="glyphicon glyphicon-chevron-down"></i></button>
            <p><center>{{ altersklasse.AlterklasseBez }}</center></p>
        </div>
        <div align="center">
            <div id="groupDataTables_{{ altersklasse.Id }}" class="collapse panel panel-default">
                <div class="panel-body panel-anmeldung">

                    <div class="panel panel-default divTableLeft">
                        <div class ="panel-heading text-center">
                            {{ altersklasse.MannschaftWrapper1.GeschlechtBez }}
                        </div>
                        <div class="panel-body panel-anmeldung">
                            <table class="table table-striped display table_anmeldeseite" cellspacing="0" width="100%" id="tableLeft">
                                <thead>
                                <tr>
                                    <th>Vereine</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for mannschaft in altersklasse.MannschaftWrapper1.mannschaften %}
                                    <tr>
                                        <td>{{ mannschaft.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {%  endif %}
                    {% if altersklasse.MannschaftWrapper2 %}
                    <div class="panel panel-default divTableRight">
                        <div class ="panel-heading text-center">
                            {{ altersklasse.MannschaftWrapper2.GeschlechtBez }}
                        </div>
                        <div class="panel-body panel-anmeldung">
                            <table class="table table-striped display" cellspacing="0" width="100%" id="tableRight">
                                <thead>
                                <tr>
                                    <th>Vereine</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mannschaft in altersklasse.MannschaftWrapper2.mannschaften %}
                                    <tr>
                                        <td>{{ mannschaft.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% endfor %}
    <script>
        $(document).ready(function() {
            $('#tableLeft, #tableRight').DataTable({
                responsive: true,
                "scrollY":        "100px",
                "bFilter": false,
                "scrollCollapse": true,
                "paging":         false,
            });
        });
    </script>
{% endblock %}