<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Turnierverwaltung{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'bundles/base/css/*'
        'bundles/user/css/*'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <style>
        body{
            background-image: url(' {{ asset('bundles/user/images/background.jpg') }}');
        }
    </style>


    {% javascripts
    'bundles/base/js/*'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body class="login">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading heading-login">
                    <h3 class="panel-title">Turnierverwaltung {% if turniername %}-{{ turniername }}{% endif %}</h3>
                </div>
                <div class="panel-body">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                        </div>
                    {% endif %}
                    <form role="form" action="{{ path('fos_user_security_check') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Benutzername" id="username" name="_username" value="{{ last_username }}" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Passwort" type="password" id="password" name="_password">
                            </div>
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <input type="submit" value="Anmelden" class="btn btn-lg btn-success btn-block">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>